body{
	box-sizing: content-box;
	width: 100%;
	padding: 5px;
}
.main-content{
	width: 700px;
	margin: auto;
}

.right-border{
	width: 1px;
	height: 150px;
	border:  2px solid black;
	background: black;
	margin-top:25px;
}
.aling-right{
	text-align: right;
}
.partie-droite{
	display: flex;
}

.header-facture{
	display: flex;
	justify-content:space-between;
}

.header-facture h3 {
	text-align: center;
	line-height:3px;
}
footer h4{
	line-height:3px;
}

.identification_a{
	display: flex;
	justify-content:space-between;
}

.identification_a p, .identification_b p{
	line-height:2px;
}

table{
	width: 100%;
	border-collapse:collapse;
}

table, tr, td, th{
	border: 1px solid black;

}

footer{
	display: flex;
	justify-content: space-between;
}