:root{
    --font-size : 5px;
}
.invoice_signature{
    font-size: 20px;
    word-wrap: break-word;
}

  .container {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 80mm;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    .text-center{
        text-align: center !important;
    }
    .text-center{
        text-align: center ;
    }

    h1 {
        font-size: var(--font-size);
        text-align: center;
        line-height: var(--font-size);
      }
      p,b {
        font-size: var(--font-size);
        text-align: justify;
      }

      table{
        width: 100%;
        border-collapse: collapse;
      }
      td,th, tr{
        font-size: var(--font-size);
        border: 2px #000000 dotted;
      }
      td.nowrap{
       white-space: nowrap;
      }

      .adroite{
        text-align:right !important;
        padding-right: 15px;

    }
  }


