:root{
    --font-size : 8px;
}
.invoice_signature{
    
    word-wrap: break-word;

}

.numbers {
  white-space: nowrap;
}

  .container {
    font-family: Consolas,    "Lucida Console";
    margin: 0 !important;
    padding: 0 !important;
    width: 80mm;
    box-sizing: border-box;
    border: 1px solid #ccc;

    h1 {
        text-align: center;
      }
      table{
        width: 80mm;
        border-collapse: collapse;
        font-size: 13px;
      }
    
      td.nowrap{
       white-space: nowrap;
      }

      .adroite{
        text-align:right !important;
        padding-right: 15px;

    }
  }

  .text-center  , .center{
    text-align: center !important;
}
.total_payment{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

h1,h5,h6{
    margin: 0;
    padding: 0;
}



