:root{
    --main-color: #007bff;
    --font-size : 5px;
}


  .container {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 90mm;


    margin: 5px auto;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    .text-center{
        text-align: center !important;
    }

    .invoice_signature{
        word-wrap: break-word;

    }
    h1 {
        font-size: var(--font-size);
        text-align: center;
        line-height: var(--font-size);
      }
      p,b {
        font-size: var(--font-size);
        text-align: justify;
      }

      table{
        width: 100%;
        border-collapse: collapse;
      }
      td,th{
        font-size: var(--font-size);
        border: 2px #000000 dotted;
      }
      td.nowrap{
       white-space: nowrap;
      }
  }


